* {
  margin-bottom: 10px;
}

.play {
  display: flex;
  flex-direction: column;
  align-items: center;
  
  &__greeting {
    font-size: 30px;
    color: teal;
    font-weight: 600;
  }

  &__circle {
    width: 200px;
    height: 200px;
    border: 1px solid aquamarine;
    background-color: aquamarine;
    border-radius: 50%;
    outline: none;
    font-size: 20px;
    font-weight: 600;
  }
}
