table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid lightgrey;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: lightgrey;
}

.seconds-btn {

  > * {
    padding: 5px 10px;
    background-color: grey;
    border: 1px solid grey;
    outline: none;
    font-size: 14px;

    &:hover {
      background-color: lightgrey;
      border: 1px solid lightgrey;
    }
  }
}

.back-btn {
  padding: 10px 15px;
  background-color: teal;
  border: 1px solid teal;
  border-radius: 5px;
  outline: none;
  margin-top: 10px;
  font-size: 16px;
  font-weight: 600;
  color: white;

    &:hover {
      background-color: transparent;
      color: black;
    }
}
